* {
    margin: auto;
    background-color: var(--accent);
}

:root {
    --primary: #5D5C61;
    --secondary: #938e93;
    --tertiary: #b1a296;
    --accent: #7395AE;
    --darker: #557A95;


}

.titles {
    text-decoration: none;
    color: white;
}


.headerArea {
    background-color: var(--primary);
    color: var(--accent);
}

.comments {
    padding-top: 5px;
    color: white;
    text-decoration: none;
}


.footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}